@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

:root {
    --white: #ffffff;
    --white-soft: #e1e1e1;
    --dark: #070707;
    --gray: #1c1b1b;
    --gray-dark: #2c2c2c;
    --gray-soft: #797979;
    --green: #42c83c;
    --green-dark: #38b432;
    --blue: #288ce9;
}

body {
    min-height: 100vh;
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}

h1.dark,
h2.dark,
h6.dark,
p.dark {
    color: var(--white);
}

h1.light,
h2.light,
h6.light,
p.light {
    color: var(--dark);
}

header.dark {
    background-color: var(--dark);
}

header.light {
    background-color: var(--white);
}
